.row_fluid
	.span10.offset1
		%h2
			Users
			%small= link_to "Add User", new_user_path

.row-fluid
	.span10.offset1
		%table.table.table-bordered.table-hover
			%thead
				%tr
					%th.span6 Name
					%th.span6 Email
			%tbody
				- @users.each do |user|
					%tr
						%td
							= link_to user.name, user_path(user.id)
						%td= user.email